.form-group {
   position: relative;
   padding: 2px;
}

input.form-control {
   border-radius: 2px;
   box-shadow: 0 1.5px 0 #d8d8d8;
   outline: none;
   border-color: #d8d8d8;

   &+label {
      position: absolute;
      top: 5px;
      left: 10px;
      z-index: 2;
   }
}