@for $i from 0 through 25 {
   .radius-#{$i} {
      border-radius: #{$i}px !important;
   }

   .margin-#{$i} {
      margin: #{$i}px !important;
   }

   .padding-#{$i} {
      padding: #{$i}px !important;
   }
}

@for $i from 1 through 6 {
   h#{$i} {
      margin: 0 !important;
      padding: 0 !important;
   }
}