body,
input,
select,
option,
button,
div,
p {
   font-family: "Roboto";
}

body,html {
   overflow: hidden;
   margin: 0;
   padding: 0;
   background: white;
}

.fragment {
   margin: 0 !important;
   padding: 0 !important;
   border: 0 !important;
   display: block !important;

   &-inline {
      display: inline-block !important;
   }
}

.center-hv {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.width-full {
   width: 100vw !important;
}

.margin-none {
   margin: 0;
}

.padding-none {
   padding: 0;
}


// BORDER RADIUS
.radius-none {
   border-radius: 0 !important;
}

.radius-circle {
   border-radius: 50% !important;
}

.fixed-top {
   position: fixed;
   left: 0;
   top: 0;
}

.fixed-bottom {
   background: lightgrey;
   padding: 10px 0;
   position: fixed;
   left: 0;
   bottom: 0;
}

.content {
   margin-top: 40px;
}

nav {
   border-bottom: 1px solid #d8d8d8;
}

.faded {
   opacity: 0.2;
}